* {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}
body {
    background-color: antiquewhite;
}
.primo {
    height: 100px;
    width: 200px;
    background-color: magenta;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.secondo {
    background-color: blue;
    width: 100px;
    height: 100px;
    animation-name: cangiante;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.primo:hover {
    transform: translateX(50px);
}
@-webkit-keyframes cangiante {
    0% {background-color: blue}
    50% {background-color: red;}
    100% {background-color: blue}
}